@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  #root {
    height: 100%;
    width: 100%;
  }
}

/* Leaflet map full height */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}
